---
const { benefits } = Astro.props;
---
<section class="mb-8 bg-white rounded-lg shadow border border-gray-200 p-6">
  <h2 class="text-xl font-bold mb-2 text-gray-900">Benefits</h2>
  <ul class="list-disc pl-6 text-base text-gray-700">
    {benefits.map(benefit => <li class="mb-1">{benefit}</li>)}
  </ul>
</section>
