---
const { related = [] } = Astro.props;
const relatedItems = related.map(tracker => (
  <li><a href={tracker.url}>{tracker.name}</a></li>
));
---
<nav class="related-trackers" aria-label="Related trackers">
  <ul>
    {relatedItems}
  </ul>
</nav>

<style>
  a {
    color: var(--color-primary);
    text-decoration: none;
  }
</style>
